@charset "UTF-8";
h1:first-letter {
  font-size: 100px;
}

p:first-line {
  color: red;
  font-size: 21px;
}

#gnb {
  overflow: hidden;
  padding: 0 30px;
  border-bottom: 1px solid #f1f1f1;
}

#gnb .pseudo {
  float: right;
  overflow: hidden;
}

#gnb .pseudo li {
  position: relative;
  float: left;
  height: 60px;
  margin-right: 20px;
}

#gnb .pseudo li:before { /*li:before  == li의 안쪽영역을 말함*/
  content: '';  /*가상빈박스?(ex div) 생성*/
  position: absolute;  /*부모 요소 중 static이 아닌 position 속성을 갖고 있는 요소를 기준*/
  display: inline-block;
  width: 2px;
  height: 16px;
  background: pink;
  top: calc(30px - 8px);
  left: -11px;
}

/* #gnb .pseudo li {
  position: relative;
  float: left;
  height: 60px;
  padding-left: 20px;
} */

#gnb .pseudo li:first-child {
  padding-left: 0;
}

/* #gnb .pseudo li:before { /*li:before  == li의 안쪽영역을 말함
  content: '';  /*가상빈박스?(ex div) 생성
  position: absolute;  /*부모 요소 중 static이 아닌 position 속성을 갖고 있는 요소를 기준
  display: inline-block;
  width: 2px;
  height: 16px;
  background: red;
  top: calc( 50% - 8px );
  left: calc( 10px - 1px );
} */

#gnb .pseudo li:first-child:before {
  display: none;
}

#gnb .pseudo li a {
  line-height: 60px;
}

#sitemap {
  overflow: hidden;
}

#sitemap li {
  float: left;
  height: 30px;
  margin-left: 20px;
}

#sitemap li:first-child {
  margin-left: 0;
}

#sitemap li a {
  line-height: 30px;
}

#sitemap li a::after {
  content: attr(title); /*attr(href,title 등 )사용 잘 안함*/

}
