@charset "UTF-8";
body {
  background: #000000;
}
@keyframes ani {
  from {
    background: rgba(232,86,19,1);
    transform: scaleY(0.1);
  }
  to {
    background: rgba(232,200,19,1);
    transform: scaleY(1);
  }
}
#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#soundbar {
position: relative;
display: flex;  /*글자가 여기서 중간으로감*/
justify-content: center;
align-items: center;
width: 120px;
height: 50px;
}

#soundbar p {
  font-size: 16px;
  color: white;
  z-index: 500;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}

#soundbar div {
  position: absolute;
  width: 10%;
  height: 100%;
  background: blue;
  color: white;
  animation: ani 1s ease-in-out 0s infinite alternate;
  animation-fill-mode: both;
}

#soundbar div:nth-of-type(1) { left: 10%;}
#soundbar div:nth-of-type(2) {left: 20%;}
#soundbar div:nth-of-type(3) {left: 30%;}
#soundbar div:nth-of-type(4) {left: 40%;}
#soundbar div:nth-of-type(5) {left: 50%;}
#soundbar div:nth-of-type(6) {left: 60%;}
#soundbar div:nth-of-type(7) {left: 70%;}
#soundbar div:nth-of-type(8) {left: 80%;}
#soundbar div:nth-of-type(9) {left: 90%;}
#soundbar div:nth-of-type(10) {left: 0%;}



/* #soundbar div {
  width: 12px;
  height: 50px;
  background: red;
  float: left;
  animation-name: ani;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-fill-mode: both;
} */

#soundbar div:nth-of-type(1) { animation-delay: 1s;}
#soundbar div:nth-of-type(2) { animation-delay: .8s;}
#soundbar div:nth-of-type(3) { animation-delay: .5s;}
#soundbar div:nth-of-type(4) { animation-delay: .7s;}
#soundbar div:nth-of-type(5) { animation-delay: .3s;}
#soundbar div:nth-of-type(6) { animation-delay: .5s;}
#soundbar div:nth-of-type(7) { animation-delay: .8s;}
#soundbar div:nth-of-type(8) { animation-delay: .4s;}
#soundbar div:nth-of-type(9) { animation-delay: .6s;}
