@charset "UTF-8";
*{ box-sizing: border-box; margin: 0; padding: 0;}
html,body { height: 100%;}
ul,ol { list-style: none;}
a{color:#666; text-decoration: none;}

a.on {
  border: 2px solid red;
}

ul {
  display: flex;  /*부모요소에 flex로 컨테이너를 생성해 자식요소를 담는다*/
  margin-bottom: 20px;
}

ul li a { /*글을 안보이게하고 위치에 박스를 생성해 이미지 삽입*/
  position: relative;
  display: inline-block;
  margin: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;  /*값이 양수이면 들여쓰기, 값이 음수이면 내어쓰기가 됩니다.*//*글 안보이게 함*/
  /* background: red; */ /*칸 확인용*/
  background-size: cover;
}


ul li:nth-child(1) a {
  background-image: url('../img/img01.jpg');
}

ul li:nth-child(2) a {
  background-image: url('../img/img02.jpg');
}

ul li:nth-child(3) a {
  background-image: url('../img/img03.jpg');
}
