@charset "UTF-8";

#container p:nth-child(1) { /*1번째는 p가 아닌 span이라 변하지 않음*/
  color: red;
}

#container p:nth-of-type(1) { /*타입별로..*/
  color: red;
}

#container div:nth-of-type(3) {
  background: yellow;
}

#container div:nth-last-of-type(3) {
  background: red;
}

/*
:first-child
:last-child
nth-child(1)  ------>nth-of-type(1)
nth-child(2n) ------>nth-of-type(2n)
nth-child(2n+1)------>nth-of-type(2n+1)
nth-child(odd)------>nth-of-type(odd)
nth-child(even) ------>nth-of-type(even)
nth-last-child(2)------>nth-last-of-type(2)
*/
