@charset "UTF-8";
html,body {height: 100%;}

.box {
  height: 100vh;
  /* height: 100px; */
  width: 50vw;
  background: green;
}

.item {
  height: 100px;
  width: 500px;
  background: red;
  display: none;

}
 /*화면의 높이 값을 백분율로 표기
 ex 100 vh*/
 /**/
