@charset "UTF-8";
:root { /*최상위에 선언해주겠다. 어디서든 다 쓸 수 있음*/
  --content-width: 1320px; /*100%하면 다름 이번예제는 1320고정으로*/
 }

/* 공통 ui */
a.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  background: #0055b8;
  /* margin-top: 40px; 여기서 넣으면 안됨 공통속성으로 만든거라 모든 버튼에 들어가게 돼서*/
}

/* 메인배너 */
#mainbanner {
  background-image: url('../img/main_banner_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; /*높이값만 100%*/
  overflow: hidden;
  transition: background 1s;
 }

#mainbanner .inner {
  position: relative;
  /* width: var(--content-width); */
  height: 100vh;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

/* 무한루프를 사용하지 않을 경우 */
/* #mainbanner .inner:nth-child(1) {
  background: url('../img/main_banner/mainbanner_1.png');
  background-position: center;
  background-size: cover;
}
#mainbanner .inner:nth-child(2) {
  background: url('../img/main_banner/mainbanner_2.png');
  background-position: center;
  background-size: cover;
}
#mainbanner .inner:nth-child(3) {
  background-position: center;
  background-size: cover;
  background: url('../img/main_banner/mainbanner_3.png');
} */

/* 무한루프를 사용할 경우 */
/* #mainbanner .inner.first {
  background: url('../img/main_banner/mainbanner_1.png');
  background-position: center;
  background-size: cover;
}
#mainbanner .inner.second {
  background: url('../img/main_banner/mainbanner_2.png');
  background-position: center;
  background-size: cover;
}
#mainbanner .inner.third {
  background-position: center;
  background-size: cover;
  background: url('../img/main_banner/mainbanner_3.png');
} */

#mainbanner .maintext {
  position: absolute;
  text-align: center;
  width: 100%;
  min-height: 254px;
  /* 원래 높이값을 가져와서 계산했는데 변동가능성이 있어서 transform 사용 */
  top: calc( 50% - 207px );
  /* 100vh의 절반에 위치하게 한 다음 위로 207만큼 댕겨올림 */
}

/*메인배너 메인타이틀 */
#mainbanner .maintext p.maintitle {
  line-height: 60px;
  font-size: 50px;
  color: #333333;
}
/* 메인배너 서브타이틀 */
#mainbanner .maintext p.subtitle {
  margin-top: 30px;
  font-size: 20px;
  color: #666666;
}

#mainbanner .maintext a.common-btn {
  margin-top: 40px;
}

/*헤더영역 */
#wrap {
  width: var(--content-width);
  margin: 0 auto;
  background: #f1f1f1;
}

/* 상단고정형 메뉴 */
#header {
  position: fixed; /*위에 고정할거기 때문에*/
  width: 100%; /*width: var(--content-width);이걸 inner에 넣고 이거는 width꽉차게 만들었음*/
  top: 0;
  left: 0;
  overflow: hidden;
  /* background: skyblue; */
  box-sizing: border-box;
  /* background: rgba(244,244,244,0.8); */
  background: rgba(244,244,244,0); /*투명하게 해두고 각 슬라이드마다 텍스트 색 변경해주기*/
  z-index: 10;
}

#logo { float: left; }

#header .h-inner {
  width: var(--content-width);
  margin: 0 auto;
  padding: 45px 25px 45px;
}

#header .inner {
  float: right;
}
/* #header .inner #login-menu, .inner #gnb {
  float: left;
} */

#header .inner #gnb {
  margin-right: 103px;
}

#header .inner > ul {
  overflow: hidden;
  float: left;
}

#header .inner > ul > li {
  float: left;
  height: 20px;
}

#header .inner > ul > li > a {
  line-height: 20px;
}

/* gnb메뉴간 간격 조정 */
#header .inner #gnb li {
  margin-left: 47px;
}
#header .inner #login-menu li {
  margin-left: 47px;
}
#header .inner #gnb li:first-child, #header .inner #login-menu li:first-child {
  margin-left: 0px;
}

/* 장바구니 숫자 스타일 */
#header .inner #login-menu li span.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  float: right; /*안해주면 밑으로 떨어져서 안보임*/
  font-size: 14px;
  color: white;
  background: #ffc01d;
  margin-left: 4px;
  border-radius: 100%;
}

/* 컨텐츠 영역 */
#container section .inner {
  width: var(--content-width);
  min-height: 650px;
  margin: 0 auto;
  text-align: center; /*자식요소도 다 정렬함*/
  /* font-size: 50px; */
  /* color: white; */
  overflow: hidden; /* 섹션3에서 float*/
}

/* 짝수번째(even) 컨텐츠 영역 blue / 홀수번째 (odd) green (구조선택자)*/
/* #container section:nth-child(odd) .inner { background: green; }  */
       /*inner에 구조선택자 주면 inner는 하나뿐이라 안먹힘*/
/* #container section:nth-child(even) .inner { background: blue; } */

#container section:nth-child(1) {
  padding-top: 165px;
  box-sizing: border-box; /*안해주면 165가 더해져서 높아짐*/
}

#container section:nth-child(2) { background: #f9f9f9; }

#container section:nth-child(2) .inner {
  min-height: 652px;
  padding-top: 146px;
  box-sizing: border-box; /* 안하면 652+146됨 */
 }

#container section:nth-child(4) { background: #f4f4f4; }
#container section:nth-child(5) { background: #1d314a; }

/* 첫번째 섹션 */

/* #container #first { overflow: hidden; }
#container #first .box-wrap {
  float: left;
  overflow: hidden;
}

#container #first .box-wrap li {
  float: left;
  width: 25%;
}

#container #first .box-wrap li .items {
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  margin: 0 10px 0;
  padding: 10px;
}

#container #first .box-wrap li h3 {
} */

/* 첫번째섹션 강사님코드 */

#container section .inner .box-wrap li {
  float: left;
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;
}

#container section .inner .box-wrap li .items {
  border: 1px solid #e3e3e3;
  padding: 45px 0; /*위아래로 45px 그림밑에도 45px남아야해서*/
  min-height: 270px;
  box-sizing: border-box;
}

#container section .inner .box-wrap li .items h3 {
  font-size: 20px;
  line-height: 20px;
  color: #252525;
}
#container section .inner .box-wrap li .items p {
  margin-top: 30px;
  padding: 0 50px;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
#container section .inner .box-wrap li .items img {
  margin-top: 32px;
  opacity: .8;  /* 아이콘 투명도 조절 */
}

/* 제휴회사 레이아웃 */
/* 다른섹션에서도 이미지 넣고 제휴회사 넣으면 이 공통속성을 사용하게 하기위해 section2에 넣지않고 공통속성에 넣음 */
#container section .inner .thumb-img-wrap {
  text-align: center; /*자식요소 ul을 가운데 정렬하겠다. (위에 .inner의 text-aligncenter 설정 상속받음)*/
}
#container section .inner .thumb-img-wrap ul {
  display: inline-block; /*저식요소 li의 컨텐츠 크기만큼 너비가 지정된다. (줄어든다)*/
  /* background: red; */
}

#container section .inner .thumb-img-wrap ul:nth-child(1) {
  margin-top: 75px; /*타이틀과 로고의 간격*/
}
#container section .inner .thumb-img-wrap ul:nth-child(2) {
  margin-top: 80px; /*로고와 로고의 간격*/
}
#container section .inner .thumb-img-wrap ul li {
  display: inline-block;
  float: left;
  width: 16.666%;   /* width를 변수로 줬는데 그걸 변경하면 깨질수도 있으니 고정변수 대신 퍼센트로 준다 */
}
#container section .inner .thumb-img-wrap ul li a img {
  width: 100%; /*이미지가 초기값 220px 이상 또는 이하로 변경 시 li %를 기준으로 변경(1320px/6=220px)*/
}

/* 두번째 섹션 */

#container section .inner{
  top: calc( 50% );
}

#container section .inner h2 {
  font-size: 45px;
  line-height: 1;
  color: #333333;
}

#container section .inner .subtitle {
  margin-top: 21px; /*line-height에 값이 들어가서 27대신 21*/
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}
/* 다른 섹션에도 들어가는 공통 속성이라 #second 대신 section */

/* 세번째 섹션  */
/* (이미지와 텍스트 반반) 이 스타일 뒤에 섹션에서도 반복되니 공통속성으로 만든다. */
#container section .inner .box {
  float:left;
  width: 50%;
  min-height: 650px;
  /* background: green; */
}

#container section .inner .box.img {
  /* background: skyblue; */
  /* background-image: url('../img/section_3/bg_img.png'); */
  background-size: cover;
}

#container section .inner .box .text-box {
  margin-top: 160px;
  display: inline-block;
  text-align: left;
}

#container section .inner .box .text-box h2 .light-text {
  font-weight: 400;
}

#container section .inner .box .text-box a.common-btn {
  margin-top: 43px;

}
#container section:nth-child(3) .inner .box.img {
  background-image: url('../img/section_3/bg_img.png');
}

/* 네번째 섹션 */
#container section:nth-child(4) {
  background-color: #f4f4f4;
  background-image: url('../img/section_4/bg_img.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: calc( 50% + 643px );
  /* 이미지를 center에 뒀을때 기준 오른쪽으로 이미지를 643px만큼 이동해야함 */

}
/* #container section:nth-child(4) .inner .box.img {} 여기 좋은 구역에 넣지않고 전체를 기준으로 뒤에 이미지 넣음 */


/* 다섯번쨰 섹션 */
#container section:nth-child(5) .inner .box.img {
  background-image: url('../img/section_5/bg_img.png');
}

#container section:nth-child(5) .inner .box .text-box h2 {
  color: white;
  line-height: 57px; /*font 45px+6+6=57*/
}

#container section .inner .box .text-box {
  margin-top: 227px;
}

/* 하단footer영역 */
#footer {
  background: #eeeeee;
}

#footer .inner {
  position: relative;
  width: var(--content-width);
  height: 250px;
  padding: 50px 20px 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
#footer .inner .f-box {
  float: left;
}

#footer .inner .f-box:nth-child(2) {
  padding-left: 75px;
}

/* site menu */
#footer .inner .f-box ul {
  overflow: hidden;
}

#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-left: 40px;/* 메뉴 간 간격 */
}
#footer .inner .f-box ul li:first-child {
  margin-left: 0;
}

#footer .inner .f-box ul li a {
  line-height: 20px;
  color: #333333;
}

#footer .inner .f-box .tel {
  margin-top: 17px;
  line-height: 1;
  color: #333;
  font-weight: 900;
}
#footer .inner .f-box .tel a {
  color: #333333;
}

#footer .inner .f-box .copyright {
  margin-top: 23px;
  color: #777777;
  font-size: 12px;
  line-height: 16px;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  right: 20px;
  padding: 0 20px 0 15px; /*family글자 왼쪽 공간, 오른쪽은 만약 주소 이름이 길면 화살표있는 자리까지 글자가 덮어서패딩줘야함*/
  top: 40px;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  outline: none; /*박스 누르면 까만 아웃라인 생기는거 초기화*/
  appearance: none; /*기존 arrow이미지 삭제 (셀렉트박스 진한 화살표 기본적으로 들어가 있는 스타일이라 없애줌)*/
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc( 100% - 11px ) center; /*x축, y축*/

}

#familysite:focus {
  border: 1px solid #9d9d9d; /*박스 누르면 살짝 아주 살짝 진해짐*/
}
