@charset "UTF-8";
html,body { height: 100%; }
ul,ol { list-style: none;}
a {color: #666;}

button {
  cursor : pointer;  /*커서 손모양으로 바뀜*/

}

.box {
  background-color: red;
  margin-bottom: 20px;
}

body {
  cursor : url('../img/pngegg.png'),auto;
}
