@charset "UTF-8";
.bouncingball {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin: 50px;
  background: pink;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-in;/*느려지다 빨라짐*/
  }
  50% {
    top: 140px;
    animation-timing-function: ease-out;/*빨라지다 느려짐*/
  }
  55% {
    top: 160px; /*바닥 닿음*/
    height: 120px; /*공 찌그러짐*/
    animation-timing-function: ease-in;
  }
  65% { /*다시펼쳐짐*/
    top: 120px;
    height: 140px; /*공 원래 모양*/
    animation-timing-function: ease-out;
  }
  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}
